<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="index.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^word-([0-9]*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="view.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^word([0-9]*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="view.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^([0-9]*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="b.php?n={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^-([a-z]*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="b.php?n={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^_([a-z]*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
